<app-header></app-header>
<div class="root-container">
  <app-live-webinar-ui></app-live-webinar-ui>
  <app-upcoming-webinar-ui></app-upcoming-webinar-ui>
  <div>
    <div class="section-header">
      <h3 class="category-title">Top speakers</h3>
      <span class="view-all"> View all </span>
    </div>
    <div class="card-container">
      @for(config of speakerCardConfig; track $index){
      <app-speaker-card-ui [config]="config"></app-speaker-card-ui>
      }
    </div>
  </div>

  <app-all-topics></app-all-topics>

  <div style="display: flex; gap: 10px;">
    <app-webinar-sidebar></app-webinar-sidebar>
    <app-webinar-suggestions></app-webinar-suggestions>
  </div>
  
</div>
