.root-container {
    max-width: 1125px;
    margin: 80px auto 0px;
    padding: 0px 15px 40px;

}



.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  padding: 24px;
  border-radius: 4px;
}

.view-all {
  border: 1px solid #1d1919;
  padding: 6px 8px;
  border-radius: 4px;
}
